#circle {
    width: 80px;
    height: 80px;
    background-color: red;
    position: relative;
    color: firebrick;
    border-radius: 50%;
    display: inline-block;
    /* left: 620px;
    top: 620px; */
}

.info {
    left: 920px;
    display: inline-block;
    position: fixed;
}

.container {
    background-color: bisque;
    width: 700px;
    height: 700px;
    margin: 2% auto;
    font-family: cursive;
}